<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoadData</servlet-name>
        <servlet-class>AnalysisDetection.LoadData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>symbolsremove</servlet-name>
        <servlet-class>AnalysisDetection.symbolsremove</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>stopwords</servlet-name>
        <servlet-class>AnalysisDetection.stopwords</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SenAnalysisDection</servlet-name>
        <servlet-class>AnalysisDetection.SenAnalysisDection</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminlog</servlet-name>
        <servlet-class>AnalysisDetection.adminlog</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoadData</servlet-name>
        <url-pattern>/LoadData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>symbolsremove</servlet-name>
        <url-pattern>/symbolsremove</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>stopwords</servlet-name>
        <url-pattern>/stopwords</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SenAnalysisDection</servlet-name>
        <url-pattern>/SenAnalysisDection</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminlog</servlet-name>
        <url-pattern>/adminlog</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
